img {
    max-width: 100%;
}

.Header {
    width: 80%;
    margin-right: 5%;
    margin-left: 15%;
    overflow: auto;
    border-bottom: 4px solid #ada397;
    margin-bottom: 1.5%;

}

.Container {
    width: 80%;
    margin-right: 5%;
    margin-left: 15%;
}

.Logo {
    width: 30%;
    max-width: 120px;
    max-height: 120px;
    float: left;
}

.name {
    float: right;
    text-align: right;
    width: 70%;
    font-family: "Montserrat";
    height: 20%;
    margin-bottom: 0;
}

.job {
    float: right;
    font-family:'Coiny';
    font-weight:normal;
    text-align: right;
    width: 70%;
    color: #ada397;
    margin-top: 0;
}

.WhoIamHeading {
    color: #ada397; 
    font-family: 'Coiny';
}

.WhoPar {
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-size: 1.5em;
}

.ProjectsHeading{
    color: #ada397;
    font-family: 'Coiny';
    width: 100%;
}

.Projects {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}

.FirstBlock {
    order: 0;
    text-align: center;
    font-family:"Montserrat";
}

.Pixel {
    max-width: 264px;
    max-height: 214px;
}

.Link1 {
    text-decoration: none;
    color: black;
}


.SecondBlock {
    order: 1;
    text-align: center;
    font-family: "Montserrat";
}

.Cheetah {
    width: 264px;
    height: 214px;
}

.Link2 {
    text-decoration: none;
    color: black;
}
.ThirdBlock {
    order: 2;
}

.Soon {
    width: 264px;
    height: 214px;
}
@media screen and (max-width:350px)
{
    .name {
        font-size: 15px;
       
    }
    .job {
        font-size: 12px;
    }
    .FirstBlock,.SecondBlock,.ThirdBlock{width: 100%;}
}

@media screen and (min-width:351px) and (max-width:550px)
{
    .name {
        font-size: 20px;
    }
    .job {
        font-size: 18px;
    }
    .FirstBlock,.SecondBlock,.ThirdBlock{width: 100%;}
}
@media screen and (min-width:1074px)
{
    .Container{
        width: 900px;
    }
    .Header{
        width: 900px;
    }
    .FirstBlock,.SecondBlock,.ThirdBlock{width: 33%;}
}

