img {
    max-width: 100%;
}

.Header {
width: 80%;
margin-right: 5%;
margin-left: 15%;
}

.Container {
width: 80%;
margin-right: 5%;
margin-left: 15%;
}

.Logo {
width:30%;
max-width: 120px;
max-height: 120px;
float: left;
}

.name {
float: right;
text-align: right;
width: 70%;
font-family:"Montserrat";
height: 20%;
margin-bottom: 0;
}

.job {
float: right;
font-family:'Coiny';
font-weight:50;
text-align: right;
width: 70%;
color: #ada397;
margin-top: 0;
}

.WhoIamHeading {
color: #ada397;
font-family:'Coiny';
}

.WhoPar {
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-size: 1.5em;
}

.ProjectsHeading{
    color: #ada397;
    font-family:'Coiny';
    width: 100%;
}

.Projects {
display: flex;
flex-wrap: wrap;
}

.FirstBlock {

    margin-right: 3%;
    order: 0;
    text-align: center;
    font-family:"Montserrat";
}

.Pixel {
    max-width:284px;
    max-height:226px;
}

.Link1{
    text-decoration: none;
    color: black;
}


.SecondBlock {
    margin-right: 3%;
    order:1;
    text-align: center;
    font-family:"Montserrat";
}

.Cheetah {
    width:284px;
    height:226px;
}

.Link2{
    text-decoration: none;
    color: black;
}
.ThirdBlock {
    order:2;
}

.Soon {
    width:284px;
    height:226px;
}

